---
import Base from '@layouts/layoutbase.astro';
import Accordion from '@components/Accordion.astro';
import Entry_Params from '@components/Entry_Accordion.astro';

const title = 'Borders';
const description = 'Tailwind Cheatsheet for Offline use.';
---

<Base title={title} description={description}>
	<section class='w-full text-picton-blue-50'>
		<h1 class='mb-16 text-5xl font-bold'>{title}</h1>
		<div class='flex flex-col items-center justify-center'>
			<Accordion
				accordion_title='Border Radius'
				accordion_description='Sets border radius.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='rounded-none' cssparam='border-radius: 0;' />
					<Entry_Params
						tailparam='rounded-sm'
						cssparam='border-radius: 0.125rem; 2px'
					/>
					<Entry_Params
						tailparam='rounded'
						cssparam='border-radius: 0.25rem; 4px'
					/>
					<Entry_Params
						tailparam='rounded-md'
						cssparam='border-radius: 0.375rem; 6px'
					/>
					<Entry_Params
						tailparam='rounded-lg'
						cssparam='border-radius: 0.5rem; 8px'
					/>
					<Entry_Params
						tailparam='rounded-xl'
						cssparam='border-radius: 0.75rem; 10px'
					/>
					<Entry_Params
						tailparam='rounded-2xl'
						cssparam='border-radius: 1rem; 12px'
					/>
					<Entry_Params
						tailparam='rounded-xl'
						cssparam='border-radius: 1.5rem; 16px'
					/>
					<Entry_Params
						tailparam='rounded-full'
						cssparam='border-radius: 0.125rem; 2px'
					/>
					<Entry_Params
						tailparam='rounded-'
						cssparam='border-radius: 9999px;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Border Width'
				accordion_description='Sets width for borders in increments of 1px.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='border' cssparam='border-width: 1px;' />
					<Entry_Params tailparam='border-0' cssparam='border-width: 0;' />
					<Entry_Params tailparam='border-2' cssparam='border-width: 2px;' />
					<Entry_Params tailparam='border-4' cssparam='border-width: 4px;' />
					<Entry_Params tailparam='border-8' cssparam='border-width: 8px;' />
				</section>
			</Accordion>

			<Accordion
				accordion_title='Border Opacity'
				accordion_description='Sets opacity for borders.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='border-opacity-0'
						cssparam='border-opacity: 0;'
					/>
					<Entry_Params
						tailparam='border-opacity-5'
						cssparam='border-opacity: 0.05;'
					/>
					<Entry_Params
						tailparam='border-opacity-10'
						cssparam='border-opacity: 0.1;'
					/>
					<Entry_Params
						tailparam='border-opacity-20'
						cssparam='border-opacity: 0.2;'
					/>
					<Entry_Params
						tailparam='border-opacity-30'
						cssparam='border-opacity: 0.3;'
					/>
					<Entry_Params
						tailparam='border-opacity-40'
						cssparam='border-opacity: 0.4;'
					/>
					<Entry_Params
						tailparam='border-opacity-50'
						cssparam='border-opacity: 0.5;'
					/>
					<Entry_Params
						tailparam='border-opacity-60'
						cssparam='border-opacity: 0.6;'
					/>
					<Entry_Params
						tailparam='border-opacity-70'
						cssparam='border-opacity: 0.7;'
					/>
					<Entry_Params
						tailparam='border-opacity-80'
						cssparam='border-opacity: 0.8;'
					/>
					<Entry_Params
						tailparam='border-opacity-90'
						cssparam='border-opacity: 0.9;'
					/>
					<Entry_Params
						tailparam='border-opacity-100'
						cssparam='border-opacity: 1;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Border Style'
				accordion_description='Sets style for borders.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='border-solid'
						cssparam='border-style: solid;'
					/>
					<Entry_Params
						tailparam='border-dashed'
						cssparam='border-style: dashed;'
					/>
					<Entry_Params
						tailparam='border-dotted'
						cssparam='border-style: dotted;'
					/>
					<Entry_Params
						tailparam='border-double'
						cssparam='border-style: double;'
					/>
					<Entry_Params
						tailparam='border-hidden'
						cssparam='border-style: hidden;'
					/>
					<Entry_Params
						tailparam='border-none'
						cssparam='border-style: none;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Divide Width'
				accordion_description='Controls the border width between elements.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='divide-x-0'
						cssparam='border-left-width: 0;'
					/>
					<Entry_Params
						tailparam='divide-x-2'
						cssparam='border-left-width: 2px;'
					/>
					<Entry_Params
						tailparam='divide-x-4'
						cssparam='border-left-width: 4px;'
					/>
					<Entry_Params
						tailparam='divide-x-8'
						cssparam='border-left-width: 8px;'
					/>
					<Entry_Params
						tailparam='divide-x'
						cssparam='border-left-width: 1px;'
					/>
					<Entry_Params
						tailparam='divide-y-0'
						cssparam='border-rightwidth: 0;'
					/>
					<Entry_Params
						tailparam='divide-y-2'
						cssparam='border-rightwidth: 2px;'
					/>
					<Entry_Params
						tailparam='divide-y-4'
						cssparam='border-rightwidth: 4px;'
					/>
					<Entry_Params
						tailparam='divide-y-8'
						cssparam='border-rightwidth: 8px;'
					/>
					<Entry_Params
						tailparam='divide-y'
						cssparam='borderright-width: 1px;'
					/>
					<Entry_Params
						tailparam='divide-x-reverse'
						cssparam='--divide-x-reverse: 1'
					/>
					<Entry_Params
						tailparam='divide-y-reverse'
						cssparam='--divide-y-reverse: 1'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Divide Opacity'
				accordion_description='Sets opacity for Dividers.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='divide-opacity-0'
						cssparam='--divide-opacity: 0;'
					/>
					<Entry_Params
						tailparam='divide-opacity-5'
						cssparam='--divide-opacity: 0.05;'
					/>
					<Entry_Params
						tailparam='divide-opacity-10'
						cssparam='--divide-opacity: 0.1;'
					/>
					<Entry_Params
						tailparam='divide-opacity-20'
						cssparam='--divide-opacity: 0.2;'
					/>
					<Entry_Params
						tailparam='divide-opacity-30'
						cssparam='--divide-opacity: 0.3;'
					/>
					<Entry_Params
						tailparam='divide-opacity-40'
						cssparam='--divide-opacity: 0.4;'
					/>
					<Entry_Params
						tailparam='divide-opacity-50'
						cssparam='--divide-opacity: 0.5;'
					/>
					<Entry_Params
						tailparam='divide-opacity-60'
						cssparam='--divide-opacity: 0.6;'
					/>
					<Entry_Params
						tailparam='divide-opacity-70'
						cssparam='--divide-opacity: 0.7;'
					/>
					<Entry_Params
						tailparam='divide-opacity-80'
						cssparam='--divide-opacity: 0.8;'
					/>
					<Entry_Params
						tailparam='divide-opacity-90'
						cssparam='--divide-opacity: 0.9;'
					/>
					<Entry_Params
						tailparam='divide-opacity-100'
						cssparam='--divide-opacity: 1;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Divide Style'
				accordion_description='Sets style for Dividers.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='divide-solid'
						cssparam='border-style: solid;'
					/>
					<Entry_Params
						tailparam='divide-dashed'
						cssparam='border-style: dashed;'
					/>
					<Entry_Params
						tailparam='divide-dotted'
						cssparam='border-style: dotted;'
					/>
					<Entry_Params
						tailparam='divide-double'
						cssparam='border-style: double;'
					/>
					<Entry_Params
						tailparam='divide-hidden'
						cssparam='border-style: hidden;'
					/>
					<Entry_Params
						tailparam='divide-none'
						cssparam='border-style: none;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Outline Wdidth'
				accordion_description='Utilities for controlling the width of an element-s outline.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='outline-0' cssparam='outline-width: 0px;' />
					<Entry_Params tailparam='outline-1' cssparam='outline-width: 1px;' />
					<Entry_Params tailparam='outline-2' cssparam='outline-width: 2px;' />
					<Entry_Params tailparam='outline-4' cssparam='outline-width: 4px;' />
					<Entry_Params tailparam='outline-8' cssparam='outline-width: 8px;' />
				</section>
			</Accordion>
		</div>
	</section>
</Base>
