---
import Base from '@layouts/layoutbase.astro';
import Accordion from '@components/Accordion.astro';
import Entry_Params from '@components/Entry_Accordion.astro';

const title = 'Flexbox & Grid';
const description = 'Tailbasisind Cheatsheet for Offline use.';
---

<Base title={title} description={description}>
	<section class='basis-full text-picton-blue-50'>
		<h1 class='mb-16 text-5xl font-bold'>Sizing</h1>
		<div class='flex flex-col items-center justify-center'>
			<Accordion
				accordion_title='Flex Basis'
				accordion_description='Utilities for controlling the initial size of flex items.'>
				<section
					class='border-b-2 rounded-md overflobasis-hidden border-picton-blue-950'>
					<Entry_Params tailparam='basis-0' cssparam='flex-basis: 0;' />
					<Entry_Params
						tailparam='basis-0.5'
						cssparam='flex-basis: 0.125rem; 2px'
					/>
					<Entry_Params
						tailparam='basis-1'
						cssparam='flex-basis: 0.25rem; 4px'
					/>
					<Entry_Params
						tailparam='basis-1.5'
						cssparam='flex-basis: 0.375rem; 6px'
					/>
					<Entry_Params
						tailparam='basis-2'
						cssparam='flex-basis: 0.5rem; 8px'
					/>
					<Entry_Params
						tailparam='basis-2.5'
						cssparam='flex-basis: 0.625rem; 10px'
					/>
					<Entry_Params
						tailparam='basis-3'
						cssparam='flex-basis: 0.75rem; 12px'
					/>
					<Entry_Params
						tailparam='basis-3.5'
						cssparam='flex-basis: 0.875rem; 14px'
					/>
					<Entry_Params tailparam='basis-4' cssparam='flex-basis: 1rem; 16px' />
					<Entry_Params
						tailparam='basis-5'
						cssparam='flex-basis: 1.25rem; 20px'
					/>
					<Entry_Params
						tailparam='basis-6'
						cssparam='flex-basis: 1.5rem; 24px'
					/>
					<Entry_Params tailparam='basis-8' cssparam='flex-basis: 2rem; 32px' />
					<Entry_Params
						tailparam='basis-10'
						cssparam='flex-basis: 2.5rem; 40px'
					/>
					<Entry_Params
						tailparam='basis-11'
						cssparam='flex-basis: 2.75rem; 44px'
					/>
					<Entry_Params
						tailparam='basis-12'
						cssparam='flex-basis: 3rem; 48px'
					/>
					<Entry_Params
						tailparam='basis-14'
						cssparam='flex-basis: 3.5rem; 56px'
					/>
					<Entry_Params
						tailparam='basis-16'
						cssparam='flex-basis: 4rem; 64px'
					/>
					<Entry_Params tailparam='basis-20' cssparam='flex-basis: 5em; 80px' />
					<Entry_Params
						tailparam='basis-24'
						cssparam='flex-basis: 6rem; 96px'
					/>
					<Entry_Params
						tailparam='basis-28'
						cssparam='flex-basis: 7rem; 112px'
					/>
					<Entry_Params
						tailparam='basis-32'
						cssparam='flex-basis: 8rem; 128px'
					/>
					<Entry_Params
						tailparam='basis-36'
						cssparam='flex-basis: 9rem; 144px'
					/>
					<Entry_Params
						tailparam='basis-40'
						cssparam='flex-basis: 10rem; 160px'
					/>
					<Entry_Params
						tailparam='basis-44'
						cssparam='flex-basis: 11rem; 176px'
					/>
					<Entry_Params
						tailparam='basis-48'
						cssparam='flex-basis: 12rem; 192px'
					/>
					<Entry_Params
						tailparam='basis-52'
						cssparam='flex-basis: 13rem; 208px'
					/>
					<Entry_Params
						tailparam='basis-56'
						cssparam='flex-basis: 14rem; 224px'
					/>
					<Entry_Params
						tailparam='basis-64'
						cssparam='flex-basis: 16rem; 256px'
					/>
					<Entry_Params
						tailparam='basis-72'
						cssparam='flex-basis: 18rem; 288px'
					/>
					<Entry_Params
						tailparam='basis-80'
						cssparam='flex-basis: 20rem; 320px'
					/>
					<Entry_Params
						tailparam='basis-96'
						cssparam='flex-basis: 24rem; 384px'
					/>
					<Entry_Params tailparam='basis-auto' cssparam='flex-basis: auto' />
					<Entry_Params tailparam='basis-1/2' cssparam='flex-basis: 50%;' />
					<Entry_Params tailparam='basis-(1 to 2)/3' cssparam='' />
					<Entry_Params tailparam='basis-(1 to 3)/4' cssparam='' />
					<Entry_Params tailparam='basis-(1 to 4)/5' cssparam='' />
					<Entry_Params tailparam='basis-(1 to 5)/6' cssparam='' />
					<Entry_Params tailparam='basis-(1 to 11)/12' cssparam='' />
					<Entry_Params tailparam='basis-full' cssparam='flex-basis: 100%' />
				</section>
			</Accordion>

			<Accordion
				accordion_title='Flex Direction'
				accordion_description='Sets direction of flex items.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='flex-row' cssparam='flex-direction: row;' />
					<Entry_Params
						tailparam='flex-row-reverse'
						cssparam='flex-direction: row-reverse;'
					/>
					<Entry_Params
						tailparam='flex-col'
						cssparam='flex-direction: column;'
					/>
					<Entry_Params
						tailparam='flex-col-reverse'
						cssparam='flex-direction: column-reverse;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Flex Wrap'
				accordion_description='Creates how flex items wrap.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='flex-nowrap' cssparam='flex-wrap: nowrap;' />
					<Entry_Params tailparam='flex-wrap' cssparam='flex-wrap: wrap;' />
					<Entry_Params
						tailparam='flex-wrap-reverse'
						cssparam='flex-wrap: wrap-reverse;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Flex'
				accordion_description='Controls how flex items grow and shrink.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='flex-1' cssparam='flex: 1 1 0%;' />
					<Entry_Params tailparam='flex-auto' cssparam='flex: 1 1 auto;' />
					<Entry_Params tailparam='flex-inital' cssparam='flex: 0 1 auto;' />
					<Entry_Params tailparam='flex-none' cssparam='flex: none' />
				</section>
			</Accordion>

			<Accordion
				accordion_title='Flex Grow'
				accordion_description='Controls how flex items grow.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='grow' cssparam='flex-grow: 1;' />
					<Entry_Params tailparam='grow-0' cssparam='flex-grow: 0;' />
				</section>
			</Accordion>

			<Accordion
				accordion_title='Flex Shrink'
				accordion_description='Controls how flex items shrink.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='shrink-1' cssparam='shrink: 1;' />
					<Entry_Params tailparam='shrink-0' cssparam='shrink: 0;' />
				</section>
			</Accordion>

			<Accordion
				accordion_title='Order'
				accordion_description='Controls how flex items are ordered.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='order-first' cssparam='order: -9999;' />
					<Entry_Params tailparam='order-last' cssparam='order: 9999;' />
					<Entry_Params tailparam='order-1' cssparam='order: 1;' />
					<Entry_Params tailparam='order-2' cssparam='order: 2;' />
					<Entry_Params tailparam='order-3' cssparam='order: 3;' />
					<Entry_Params tailparam='order-4' cssparam='order: 4;' />
					<Entry_Params tailparam='order-5' cssparam='order: 5;' />
					<Entry_Params tailparam='order-6' cssparam='order: 6;' />
					<Entry_Params tailparam='order-7' cssparam='order: 7;' />
					<Entry_Params tailparam='order-8' cssparam='order: 8;' />
					<Entry_Params tailparam='order-9' cssparam='order: 9;' />
					<Entry_Params tailparam='order-10' cssparam='order: 10;' />
					<Entry_Params tailparam='order-11' cssparam='order: 11;' />
					<Entry_Params tailparam='order-12' cssparam='order: 12;' />
				</section>
			</Accordion>

			<Accordion
				accordion_title='Grid Temaple Columns'
				accordion_description='Defines columns for grid layout.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='grid-cols-1'
						cssparam='grid-template-columns: repeat(1, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-cols-2'
						cssparam='grid-template-columns: repeat(2, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-cols-3'
						cssparam='grid-template-columns: repeat(3, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-cols-4'
						cssparam='grid-template-columns: repeat(4, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-cols-5'
						cssparam='grid-template-columns: repeat(5, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-cols-6'
						cssparam='grid-template-columns: repeat(6, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-cols-7'
						cssparam='grid-template-columns: repeat(7, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-cols-8'
						cssparam='grid-template-columns: repeat(8, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-cols-9'
						cssparam='grid-template-columns: repeat(9, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-cols-10'
						cssparam='grid-template-columns: repeat(10, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-cols-11'
						cssparam='grid-template-columns: repeat(11, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-cols-12'
						cssparam='grid-template-columns: repeat(12, minmax(0, 1fr));'
					/>
					<Entry_Params tailparam='grid-cols-none' cssparam='CSSPARAM' />
				</section>
			</Accordion>

			<Accordion
				accordion_title='Grid Column Start/End'
				accordion_description='Sets a grid item size and location within the grid column.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='col-span-auto'
						cssparam='grid-column: auto;'
					/>
					<Entry_Params
						tailparam='col-span-1'
						cssparam='grid-column: span 1 / span 1;'
					/>
					<Entry_Params
						tailparam='col-span-2'
						cssparam='grid-column: span 2 / span 2;'
					/>
					<Entry_Params
						tailparam='col-span-3'
						cssparam='grid-column: span 3 / span 3;'
					/>
					<Entry_Params
						tailparam='col-span-4'
						cssparam='grid-column: span 4 / span 4;'
					/>
					<Entry_Params
						tailparam='col-span-5'
						cssparam='grid-column: span 5 / span 5;'
					/>
					<Entry_Params
						tailparam='col-span-6'
						cssparam='grid-column: span 6 / span 6;'
					/>
					<Entry_Params
						tailparam='col-span-7'
						cssparam='grid-column: span 7 / span 7;'
					/>
					<Entry_Params
						tailparam='col-span-8'
						cssparam='grid-column: span 8 / span 8;'
					/>
					<Entry_Params
						tailparam='col-span-9'
						cssparam='grid-column: span 9 / span 9;'
					/>
					<Entry_Params
						tailparam='col-span-10'
						cssparam='grid-column: span 10 / span 10;'
					/>
					<Entry_Params
						tailparam='col-span-11'
						cssparam='grid-column: span 11 / span 11;'
					/>
					<Entry_Params
						tailparam='col-span-12'
						cssparam='grid-column: span 12 / span 12;'
					/>
					<Entry_Params
						tailparam='col-start-1'
						cssparam='grid-column-start: 1;'
					/>
					<Entry_Params
						tailparam='col-start-2'
						cssparam='grid-column-start: 2;'
					/>
					<Entry_Params
						tailparam='col-start-3'
						cssparam='grid-column-start: 3;'
					/>
					<Entry_Params
						tailparam='col-start-4'
						cssparam='grid-column-start: 4;'
					/>
					<Entry_Params
						tailparam='col-start-5'
						cssparam='grid-column-start: 5;'
					/>
					<Entry_Params
						tailparam='col-start-6'
						cssparam='grid-column-start: 6;'
					/>
					<Entry_Params
						tailparam='col-start-7'
						cssparam='grid-column-start: 7;'
					/>
					<Entry_Params
						tailparam='col-start-8'
						cssparam='grid-column-start: 8;'
					/>
					<Entry_Params
						tailparam='col-start-9'
						cssparam='grid-column-start: 9;'
					/>
					<Entry_Params
						tailparam='col-start-10'
						cssparam='grid-column-start: 10;'
					/>
					<Entry_Params
						tailparam='col-start-11'
						cssparam='grid-column-start: 11;'
					/>
					<Entry_Params
						tailparam='col-start-12'
						cssparam='grid-column-start: 12;'
					/>
					<Entry_Params
						tailparam='col-start-13'
						cssparam='grid-column-start: 13;'
					/>
					<Entry_Params
						tailparam='col-start-auto'
						cssparam='grid-column-start: auto;'
					/>
					<Entry_Params tailparam='col-end-1' cssparam='grid-column-end: 1;' />
					<Entry_Params tailparam='col-end-2' cssparam='grid-column-end: 2;' />
					<Entry_Params tailparam='col-end-3' cssparam='grid-column-end: 3;' />
					<Entry_Params tailparam='col-end-4' cssparam='grid-column-end: 4;' />
					<Entry_Params tailparam='col-end-5' cssparam='grid-column-end: 5;' />
					<Entry_Params tailparam='col-end-6' cssparam='grid-column-end: 6;' />
					<Entry_Params tailparam='col-end-7' cssparam='grid-column-end: 7;' />
					<Entry_Params tailparam='col-end-8' cssparam='grid-column-end: 8;' />
					<Entry_Params tailparam='col-end-9' cssparam='grid-column-end: 9;' />
					<Entry_Params
						tailparam='col-end-10'
						cssparam='grid-column-end: 10;'
					/>
					<Entry_Params
						tailparam='col-end-11'
						cssparam='grid-column-end: 11;'
					/>
					<Entry_Params
						tailparam='col-end-12'
						cssparam='grid-column-end: 12;'
					/>
					<Entry_Params
						tailparam='col-end-13'
						cssparam='grid-column-end: 13;'
					/>
					<Entry_Params
						tailparam='col-end-auto'
						cssparam='grid-column-end: auto;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Grid Template Rows'
				accordion_description='Defines rows for grid layout.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='grid-rows-1'
						cssparam='grid-template-rows: repeat(1, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-rows-2'
						cssparam='grid-template-rows: repeat(2, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-rows-3'
						cssparam='grid-template-rows: repeat(3, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-rows-4'
						cssparam='grid-template-rows: repeat(4, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-rows-5'
						cssparam='grid-template-rows: repeat(5, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-rows-6'
						cssparam='grid-template-rows: repeat(6, minmax(0, 1fr));'
					/>
					<Entry_Params
						tailparam='grid-rows-none'
						cssparam='grid-template-rows: none;'
					/>

					<Accordion
						accordion_title='Grid Row, Sart/End'
						accordion_description='Sets a grid item size and location within the grid row.'>
						<section
							class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
							<Entry_Params tailparam='row-auto' cssparam='grid-row: auto;' />
							<Entry_Params
								tailparam='row-span-1'
								cssparam='grid-row: span 1 / span 1;'
							/>
							<Entry_Params
								tailparam='row-span-2'
								cssparam='grid-row: span 2 / span 2;'
							/>
							<Entry_Params
								tailparam='row-span-3'
								cssparam='grid-row: span 3 / span 3;'
							/>
							<Entry_Params
								tailparam='row-span-4'
								cssparam='grid-row: span 4 / span 4;'
							/>
							<Entry_Params
								tailparam='row-span-5'
								cssparam='grid-row: span 5 / span 5;'
							/>
							<Entry_Params
								tailparam='row-span-6'
								cssparam='grid-row: span 6 / span 6;'
							/>
							<Entry_Params
								tailparam='row-start-1'
								cssparam='grid-row-start: 1;'
							/>
							<Entry_Params
								tailparam='row-start-2'
								cssparam='grid-row-start: 2;'
							/>
							<Entry_Params
								tailparam='row-start-3'
								cssparam='grid-row-start: 3;'
							/>
							<Entry_Params
								tailparam='row-start-4'
								cssparam='grid-row-start: 4;'
							/>
							<Entry_Params
								tailparam='row-start-5'
								cssparam='grid-row-start: 5;'
							/>
							<Entry_Params
								tailparam='row-start-6'
								cssparam='grid-row-start: 6;'
							/>
							<Entry_Params
								tailparam='row-start-7'
								cssparam='grid-row-start: 7;'
							/>
							<Entry_Params
								tailparam='row-start-auto'
								cssparam='grid-row-start: auto;'
							/>
							<Entry_Params tailparam='row-end-1' cssparam='grid-row-end: 1;' />
							<Entry_Params tailparam='row-end-2' cssparam='grid-row-end: 2;' />
							<Entry_Params tailparam='row-end-3' cssparam='grid-row-end: 3;' />
							<Entry_Params tailparam='row-end-4' cssparam='grid-row-end: 4;' />
							<Entry_Params tailparam='row-end-5' cssparam='grid-row-end: 5;' />
							<Entry_Params tailparam='row-end-6' cssparam='grid-row-end: 6;' />
							<Entry_Params tailparam='row-end-7' cssparam='grid-row-end: 7;' />
							<Entry_Params
								tailparam='row-end-auto'
								cssparam='grid-row-end: auto;'
							/>
						</section>
					</Accordion>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Auto Grid Flow'
				accordion_description='Controls the auto placement of grid elements.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='grid-flow-row'
						cssparam='grid-auto-flow: row;'
					/>
					<Entry_Params
						tailparam='grid-flow-col'
						cssparam='grid-auto-flow: column;'
					/>
					<Entry_Params
						tailparam='grid-flow-row-dense'
						cssparam='grid-auto-flow: row dense;'
					/>
					<Entry_Params
						tailparam='grid-flow-col-dense'
						cssparam='grid-auto-flow: column dense;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Grid Auto Columns'
				accordion_description='Utilities for controlling the size of implicitly-created grid columns.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='auto-cols-auto'
						cssparam='grid-auto-columns: auto;'
					/>
					<Entry_Params
						tailparam='auto-cols-min'
						cssparam='grid-auto-columns: min;'
					/>
					<Entry_Params
						tailparam='auto-cols-max'
						cssparam='grid-auto-columns: max;'
					/>
					<Entry_Params
						tailparam='auto-cols-fr'
						cssparam='grid-auto-columns: minmax(0, 1fr);'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Grid Auto Rows'
				accordion_description='Utilities for controlling the size of implicitly-created grid rows.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='auto-cols-auto'
						cssparam='grid-auto-rows: auto;'
					/>
					<Entry_Params
						tailparam='auto-cols-min'
						cssparam='grid-auto-rows: min;'
					/>
					<Entry_Params
						tailparam='auto-cols-max'
						cssparam='grid-auto-rows: max;'
					/>
					<Entry_Params
						tailparam='auto-cols-fr'
						cssparam='grid-auto-rows: minmax(0, 1fr);'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Gap'
				accordion_description='Sets the gaps (gutters) between rows and columns. (Can use X and Y in the params)'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='gap-0' cssparam='gap: 0;' />
					<Entry_Params tailparam='gap-0.5' cssparam='gap: 0.125rem; 2px' />
					<Entry_Params tailparam='gap-1' cssparam='gap: 0.25rem; 4px' />
					<Entry_Params tailparam='gap-1.5' cssparam='gap: 0.375rem; 6px' />
					<Entry_Params tailparam='gap-2' cssparam='gap: 0.5rem; 8px' />
					<Entry_Params tailparam='gap-2.5' cssparam='gap: 0.625rem; 10px' />
					<Entry_Params tailparam='gap-3' cssparam='gap: 0.75rem; 12px' />
					<Entry_Params tailparam='gap-3.5' cssparam='gap: 0.875rem; 14px' />
					<Entry_Params tailparam='gap-4' cssparam='gap: 1rem; 16px' />
					<Entry_Params tailparam='gap-5' cssparam='gap: 1.25rem; 20px' />
					<Entry_Params tailparam='gap-6' cssparam='gap: 1.5rem; 24px' />
					<Entry_Params tailparam='gap-8' cssparam='gap: 2rem; 32px' />
					<Entry_Params tailparam='gap-10' cssparam='gap: 2.5rem; 40px' />
					<Entry_Params tailparam='gap-11' cssparam='gap: 2.75rem; 44px' />
					<Entry_Params tailparam='gap-12' cssparam='gap: 3rem; 48px' />
					<Entry_Params tailparam='gap-14' cssparam='gap: 3.5rem; 56px' />
					<Entry_Params tailparam='gap-16' cssparam='gap: 4rem; 64px' />
					<Entry_Params tailparam='gap-20' cssparam='gap: 5em; 80px' />
					<Entry_Params tailparam='gap-24' cssparam='gap: 6rem; 96px' />
					<Entry_Params tailparam='gap-28' cssparam='gap: 7rem; 112px' />
					<Entry_Params tailparam='gap-32' cssparam='gap: 8rem; 128px' />
					<Entry_Params tailparam='gap-36' cssparam='gap: 9rem; 144px' />
					<Entry_Params tailparam='gap-40' cssparam='gap: 10rem; 160px' />
					<Entry_Params tailparam='gap-44' cssparam='gap: 11rem; 176px' />
					<Entry_Params tailparam='gap-48' cssparam='gap: 12rem; 192px' />
					<Entry_Params tailparam='gap-52' cssparam='gap: 13rem; 208px' />
					<Entry_Params tailparam='gap-56' cssparam='gap: 14rem; 224px' />
					<Entry_Params tailparam='gap-64' cssparam='gap: 16rem; 256px' />
					<Entry_Params tailparam='gap-72' cssparam='gap: 18rem; 288px' />
					<Entry_Params tailparam='gap-80' cssparam='gap: 20rem; 320px' />
					<Entry_Params tailparam='gap-96' cssparam='gap: 24rem; 384px' />
					<Entry_Params tailparam='gap-px' cssparam='gap: 1px;' />
				</section>
			</Accordion>

			<Accordion
				accordion_title='Justify Content'
				accordion_description='Utilities for controlling how flex and grid items are positioned along a container-s main axis.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='justify-start'
						cssparam='justify-content: flex-start;'
					/>
					<Entry_Params
						tailparam='justify-center'
						cssparam='justify-content: center'
					/>
					<Entry_Params
						tailparam='justify-end'
						cssparam='justify-content: flex-end;'
					/>
					<Entry_Params
						tailparam='justify-between'
						cssparam='justify-content: space-between;'
					/>
					<Entry_Params
						tailparam='justify-arround'
						cssparam='justify-content: space-arround;'
					/>
					<Entry_Params
						tailparam='justify-evenly'
						cssparam='justify-content: space-evenly;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Justify Items'
				accordion_description='Utilities for controlling how grid items are aligned along their inline axis.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='justify-items-stretch'
						cssparam='justify-items: stretch;'
					/>
					<Entry_Params
						tailparam='justify-items-start'
						cssparam='justify-items: start;'
					/>
					<Entry_Params
						tailparam='justify-items-center'
						cssparam='justify-items: center;'
					/>
					<Entry_Params
						tailparam='justify-items-end'
						cssparam='justify-items: end;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Justify Self'
				accordion_description='Utilities for controlling how an individual grid item is aligned along its inline axis.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='justify-self-stretch'
						cssparam='justify-self: stretch;'
					/>
					<Entry_Params
						tailparam='justify-self-start'
						cssparam='justify-self: start;'
					/>
					<Entry_Params
						tailparam='justify-self-center'
						cssparam='justify-self: center;'
					/>
					<Entry_Params
						tailparam='justify-self-end'
						cssparam='justify-self: end;'
					/>
					<Entry_Params
						tailparam='justify-self-auto'
						cssparam='justify-self: auto;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Align Content'
				accordion_description='Utilities for controlling how rows are positioned in multi-row flex and grid containers.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='content-start'
						cssparam='align-content: flex-start;'
					/>
					<Entry_Params
						tailparam='content-center'
						cssparam='align-content: center;'
					/>
					<Entry_Params
						tailparam='content-end'
						cssparam='align-content: flex-end;'
					/>
					<Entry_Params
						tailparam='content-between'
						cssparam='align-content: space-between;'
					/>
					<Entry_Params
						tailparam='content-around'
						cssparam='align-content: space-around;'
					/>
					<Entry_Params
						tailparam='content-evenly'
						cssparam='align-content: space-evenly;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Align Items'
				accordion_description='Sets flex items position along a container-s cross axis.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='items-stretch'
						cssparam='align-items: stretch;'
					/>
					<Entry_Params
						tailparam='items-start'
						cssparam='align-items: flex-start;'
					/>
					<Entry_Params
						tailparam='items-center'
						cssparam='align-items: center;'
					/>
					<Entry_Params
						tailparam='items-end'
						cssparam='align-items: flex-end;'
					/>
					<Entry_Params
						tailparam='items-baseline'
						cssparam='align-items: baseline;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Align Self'
				accordion_description='Controls how an individual flex item is positioned along container-s cross axis.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='self-auto' cssparam='align-self: auto;' />
					<Entry_Params
						tailparam='self-start'
						cssparam='align-self: flex-start;'
					/>
					<Entry_Params
						tailparam='self-center'
						cssparam='align-self: center;'
					/>
					<Entry_Params tailparam='self-end' cssparam='align-self: flex-end;' />
					<Entry_Params
						tailparam='self-stretch'
						cssparam='align-self: stretch;'
					/>
					<Entry_Params
						tailparam='self-baseline'
						cssparam='align-self: baseline;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Place Content'
				accordion_description='Utilities for controlling how content is justified and aligned at the same time.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='place-content-start'
						cssparam='place-content: start;'
					/>
					<Entry_Params
						tailparam='place-content-center'
						cssparam='place-content: center;'
					/>
					<Entry_Params
						tailparam='place-content-end'
						cssparam='place-content: end;'
					/>
					<Entry_Params
						tailparam='place-content-between'
						cssparam='place-content: space-between;'
					/>
					<Entry_Params
						tailparam='place-content-around'
						cssparam='place-content: space-around;'
					/>
					<Entry_Params
						tailparam='place-content-evenly'
						cssparam='place-content: space-evenly;'
					/>
					<Entry_Params
						tailparam='place-content-stretch'
						cssparam='place-content: space-stretch;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Place Items'
				accordion_description='Utilities for controlling how items are justified and aligned at the same time.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='place-items-stretch'
						cssparam='place-items: stretch;'
					/>
					<Entry_Params
						tailparam='place-items-start'
						cssparam='place-items: start;'
					/>
					<Entry_Params
						tailparam='place-items-center'
						cssparam='place-items: center;'
					/>
					<Entry_Params
						tailparam='place-items-end'
						cssparam='place-items: end;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Place Self'
				accordion_description='Utilities for controlling how an individual item is justified and aligned at the same time.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params
						tailparam='place-self-auto'
						cssparam='place-self: auto;'
					/>
					<Entry_Params
						tailparam='place-self-start'
						cssparam='place-self: start;'
					/>
					<Entry_Params
						tailparam='place-self-center'
						cssparam='place-self: center;'
					/>
					<Entry_Params
						tailparam='place-self-end'
						cssparam='place-self: end;'
					/>
					<Entry_Params
						tailparam='place-self-stretch'
						cssparam='place-self: stretch;'
					/>
				</section>
			</Accordion>
		</div>
	</section>
</Base>
