---
import Base from '@layouts/layoutbase.astro';
import Section_Button from '@components/Section_Button.astro';

const title = 'Tailwind Cheatsheet 2';
const description = 'Tailwind Cheatsheet for Offline use. 2';
---

<Base title={title} description={description}>
	<section class='w-full text-picton-blue-50'>
		<h1 class='text-5xl font-bold'>Home</h1>

		<div class='my-10 flex flex-wrap gap-4 justify-center'>
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
			<Section_Button title_button='Core Concepts' />
		</div>
	</section>
</Base>
