---
import Base from '@layouts/layoutbase.astro';
import Section_Button from '@components/Section_Button.astro';

const title = 'Tailwind Cheatsheet 2';
const description = 'Tailwind Cheatsheet for Offline use. 2';
---

<Base title={title} description={description}>
	<section class='w-full text-picton-blue-50'>
		<h1 class='text-5xl font-bold'>Home</h1>

		<p class='mt-8 text-3xl'>Welcome to the Tailwind Cheatsheet</p>

		<div class='grid justify-center grid-cols-3 gap-4 my-10'>
			<!-- <Section_Button page_link='/' title_button='Home' /> -->
			<Section_Button page_link='/Layouts' title_button='Layouts' />
			<Section_Button page_link='/Spacing' title_button='Spacing' />
			<Section_Button page_link='/FlexboxGrid' title_button='Flexbox & Grid' />
			<Section_Button page_link='/Borders' title_button='Borders' />
			<Section_Button page_link='/Sizing' title_button='Sizing' />
			<Section_Button page_link='/Typography' title_button='Typography' />
			<Section_Button page_link='/Backgrounds' title_button='Backgrounds' />
			<Section_Button
				page_link='/TransitionsAnimation'
				title_button='Transitions & Animation'
			/>
			<Section_Button page_link='/Transforms' title_button='Transforms' />
			<Section_Button page_link='/Interactivity' title_button='Interactivity' />
			<Section_Button page_link='/SVG' title_button='SVG' />
			<Section_Button page_link='/Tables' title_button='Tables' />
			<Section_Button page_link='/Effects' title_button='Effects' />
			<Section_Button page_link='/Filters' title_button='Filters' />
			<Section_Button page_link='/Accessibility' title_button='Accessibility' />
		</div>
	</section>
</Base>
