---
import Base from '@layouts/layoutbase.astro';
import Accordion from '@components/Accordion.astro';
import Entry_Params from '@components/Entry_Accordion.astro';

const title = 'Sizing';
const description = 'Tailwind Cheatsheet for Offline use.';
---

<Base title={title} description={description}>
	<section class='w-full text-picton-blue-50'>
		<h1 class='mb-16 text-5xl font-bold'>{title}</h1>
		<div class='flex flex-col items-center justify-center'>
			<Accordion accordion_title='Wdith' accordion_description=''>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='w-0' cssparam='width: 0;' />
					<Entry_Params tailparam='w-0.5' cssparam='width: 0.125rem; 2px' />
					<Entry_Params tailparam='w-1' cssparam='width: 0.25rem; 4px' />
					<Entry_Params tailparam='w-1.5' cssparam='width: 0.375rem; 6px' />
					<Entry_Params tailparam='w-2' cssparam='width: 0.5rem; 8px' />
					<Entry_Params tailparam='w-2.5' cssparam='width: 0.625rem; 10px' />
					<Entry_Params tailparam='w-3' cssparam='width: 0.75rem; 12px' />
					<Entry_Params tailparam='w-3.5' cssparam='width: 0.875rem; 14px' />
					<Entry_Params tailparam='w-4' cssparam='width: 1rem; 16px' />
					<Entry_Params tailparam='w-5' cssparam='width: 1.25rem; 20px' />
					<Entry_Params tailparam='w-6' cssparam='width: 1.5rem; 24px' />
					<Entry_Params tailparam='w-8' cssparam='width: 2rem; 32px' />
					<Entry_Params tailparam='w-10' cssparam='width: 2.5rem; 40px' />
					<Entry_Params tailparam='w-11' cssparam='width: 2.75rem; 44px' />
					<Entry_Params tailparam='w-12' cssparam='width: 3rem; 48px' />
					<Entry_Params tailparam='w-14' cssparam='width: 3.5rem; 56px' />
					<Entry_Params tailparam='w-16' cssparam='width: 4rem; 64px' />
					<Entry_Params tailparam='w-20' cssparam='width: 5em; 80px' />
					<Entry_Params tailparam='w-24' cssparam='width: 6rem; 96px' />
					<Entry_Params tailparam='w-28' cssparam='width: 7rem; 112px' />
					<Entry_Params tailparam='w-32' cssparam='width: 8rem; 128px' />
					<Entry_Params tailparam='w-36' cssparam='width: 9rem; 144px' />
					<Entry_Params tailparam='w-40' cssparam='width: 10rem; 160px' />
					<Entry_Params tailparam='w-44' cssparam='width: 11rem; 176px' />
					<Entry_Params tailparam='w-48' cssparam='width: 12rem; 192px' />
					<Entry_Params tailparam='w-52' cssparam='width: 13rem; 208px' />
					<Entry_Params tailparam='w-56' cssparam='width: 14rem; 224px' />
					<Entry_Params tailparam='w-64' cssparam='width: 16rem; 256px' />
					<Entry_Params tailparam='w-72' cssparam='width: 18rem; 288px' />
					<Entry_Params tailparam='w-80' cssparam='width: 20rem; 320px' />
					<Entry_Params tailparam='w-96' cssparam='width: 24rem; 384px' />
					<Entry_Params tailparam='w-px' cssparam='width: 1px' />
					<Entry_Params tailparam='w-auto' cssparam='width: auto' />
					<Entry_Params tailparam='w-1/2' cssparam='width: 50%;' />
					<Entry_Params tailparam='w-(1 to 2)/3' cssparam='' />
					<Entry_Params tailparam='w-(1 to 3)/4' cssparam='' />
					<Entry_Params tailparam='w-(1 to 4)/5' cssparam='' />
					<Entry_Params tailparam='w-(1 to 5)/6' cssparam='' />
					<Entry_Params tailparam='w-(1 to 11)/12' cssparam='' />
					<Entry_Params tailparam='w-full' cssparam='width: 100%' />
					<Entry_Params tailparam='w-screen' cssparam='width: 100vw;' />
					<Entry_Params tailparam='w-min' cssparam='width: min-content;' />
					<Entry_Params tailparam='w-max' cssparam='width: max-content;' />
					<Entry_Params tailparam='w-fit' cssparam='width: fit-content;' />
				</section>
			</Accordion>

			<Accordion
				accordion_title='Min-Width'
				accordion_description='Sets the minimum width of an element.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='min-w-0' cssparam='min-width: 0;' />
					<Entry_Params tailparam='min-w-full' cssparam='min-width: 100%;' />
					<Entry_Params
						tailparam='min-w-min'
						cssparam='min-width: min-content;'
					/>
					<Entry_Params
						tailparam='min-w-max'
						cssparam='min-width: max-content;'
					/>
					<Entry_Params
						tailparam='min-w-fit'
						cssparam='min-width: fit-content;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Max Width'
				accordion_description='Sets the maxiumum width of an element.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='max-w-0' cssparam='max-width: 0rem;' />
					<Entry_Params tailparam='max-w-none' cssparam='max-width: none;' />
					<Entry_Params
						tailparam='max-w-xs'
						cssparam='max-width: 20rem; 320px'
					/>
					<Entry_Params
						tailparam='max-w-sm'
						cssparam='max-width: 24rem; 384px'
					/>
					<Entry_Params
						tailparam='max-w-md'
						cssparam='max-width: 28rem; 448px'
					/>
					<Entry_Params
						tailparam='max-w-lg'
						cssparam='max-width: 32rem; 512px'
					/>
					<Entry_Params
						tailparam='max-w-xl'
						cssparam='max-width: 36rem; 576px'
					/>
					<Entry_Params
						tailparam='max-w-2xl'
						cssparam='max-width: 42rem; 762px'
					/>
					<Entry_Params
						tailparam='max-w-3xl'
						cssparam='max-width: 48rem; 768px'
					/>
					<Entry_Params
						tailparam='max-w-4xl'
						cssparam='max-width: 56rem; 896px'
					/>
					<Entry_Params
						tailparam='max-w-5xl'
						cssparam='max-width: 64rem; 1024px'
					/>
					<Entry_Params
						tailparam='max-w-6xl'
						cssparam='max-width: 72rem; 1152px'
					/>
					<Entry_Params
						tailparam='max-w-7xl'
						cssparam='max-width: 80rem; 1280px'
					/>
					<Entry_Params tailparam='max-w-full' cssparam='max-width: 100%' />
					<Entry_Params
						tailparam='max-w-min'
						cssparam='max-width: min-content;'
					/>
					<Entry_Params
						tailparam='max-w-max'
						cssparam='max-width: max-content;'
					/>
					<Entry_Params
						tailparam='max-w-fit'
						cssparam='max-width: fit-content;'
					/>
					<Entry_Params tailparam='max-w-prose' cssparam='max-width: 65ch;' />
					<Entry_Params
						tailparam='max-w-screen-sm'
						cssparam='max-width: 640px;'
					/>
					<Entry_Params
						tailparam='max-w-screen-md'
						cssparam='max-width: 768px;'
					/>
					<Entry_Params
						tailparam='max-w-screen-lg'
						cssparam='max-width: 1024px;'
					/>
					<Entry_Params
						tailparam='max-w-screen-xl'
						cssparam='max-width: 1280px;'
					/>
					<Entry_Params
						tailparam='max-w-screen-2xl'
						cssparam='max-width: max-width: 1536px;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Height'
				accordion_description='Sets the maxiumum width of an element.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='h-0' cssparam='width: 0;' />
					<Entry_Params tailparam='h-0.5' cssparam='height: 0.125rem; 2px' />
					<Entry_Params tailparam='h-1' cssparam='height: 0.25rem; 4px' />
					<Entry_Params tailparam='h-1.5' cssparam='height: 0.375rem; 6px' />
					<Entry_Params tailparam='h-2' cssparam='height: 0.5rem; 8px' />
					<Entry_Params tailparam='h-2.5' cssparam='height: 0.625rem; 10px' />
					<Entry_Params tailparam='h-3' cssparam='height: 0.75rem; 12px' />
					<Entry_Params tailparam='h-3.5' cssparam='height: 0.875rem; 14px' />
					<Entry_Params tailparam='h-4' cssparam='height: 1rem; 16px' />
					<Entry_Params tailparam='h-5' cssparam='height: 1.25rem; 20px' />
					<Entry_Params tailparam='h-6' cssparam='height: 1.5rem; 24px' />
					<Entry_Params tailparam='h-8' cssparam='height: 2rem; 32px' />
					<Entry_Params tailparam='h-10' cssparam='height: 2.5rem; 40px' />
					<Entry_Params tailparam='h-11' cssparam='height: 2.75rem; 44px' />
					<Entry_Params tailparam='h-12' cssparam='height: 3rem; 48px' />
					<Entry_Params tailparam='h-14' cssparam='height: 3.5rem; 56px' />
					<Entry_Params tailparam='h-16' cssparam='height: 4rem; 64px' />
					<Entry_Params tailparam='h-20' cssparam='height: 5em; 80px' />
					<Entry_Params tailparam='h-24' cssparam='height: 6rem; 96px' />
					<Entry_Params tailparam='h-28' cssparam='height: 7rem; 112px' />
					<Entry_Params tailparam='h-32' cssparam='height: 8rem; 128px' />
					<Entry_Params tailparam='h-36' cssparam='height: 9rem; 144px' />
					<Entry_Params tailparam='h-40' cssparam='height: 10rem; 160px' />
					<Entry_Params tailparam='h-44' cssparam='height: 11rem; 176px' />
					<Entry_Params tailparam='h-48' cssparam='height: 12rem; 192px' />
					<Entry_Params tailparam='h-52' cssparam='height: 13rem; 208px' />
					<Entry_Params tailparam='h-56' cssparam='height: 14rem; 224px' />
					<Entry_Params tailparam='h-64' cssparam='height: 16rem; 256px' />
					<Entry_Params tailparam='h-72' cssparam='height: 18rem; 288px' />
					<Entry_Params tailparam='h-80' cssparam='height: 20rem; 320px' />
					<Entry_Params tailparam='h-96' cssparam='height: 24rem; 384px' />
					<Entry_Params tailparam='h-px' cssparam='height: 1px' />
					<Entry_Params tailparam='h-auto' cssparam='height: auto' />
					<Entry_Params tailparam='h-1/2' cssparam='height: 50%;' />
					<Entry_Params tailparam='h-(1 to 2)/3' cssparam='' />
					<Entry_Params tailparam='h-(1 to 3)/4' cssparam='' />
					<Entry_Params tailparam='h-(1 to 4)/5' cssparam='' />
					<Entry_Params tailparam='h-(1 to 5)/6' cssparam='' />
					<Entry_Params tailparam='h-full' cssparam='width: 100%' />
					<Entry_Params tailparam='h-screen' cssparam='height: 100vh;' />
					<Entry_Params tailparam='h-min' cssparam='height: min-content;' />
					<Entry_Params tailparam='h-max' cssparam='height: max-content;' />
					<Entry_Params tailparam='h-fit' cssparam='height: fit-content;' />
				</section>
			</Accordion>

			<Accordion
				accordion_title='Min Height'
				accordion_description='Sets the minimum width of an element.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='min-w-0' cssparam='min-height: 0;' />
					<Entry_Params tailparam='min-w-full' cssparam='min-height: 100%;' />
					<Entry_Params
						tailparam='min-w-screen'
						cssparam='min-height: 100vh;'
					/>
					<Entry_Params
						tailparam='min-w-min'
						cssparam='min-height: min-content;'
					/>
					<Entry_Params
						tailparam='min-w-max'
						cssparam='min-height: max-content;'
					/>
					<Entry_Params
						tailparam='min-w-fit'
						cssparam='min-height: fit-content;'
					/>
				</section>
			</Accordion>

			<Accordion
				accordion_title='Max Height'
				accordion_description='Sets the maxiumum width of an element.'>
				<section
					class='overflow-hidden border-b-2 rounded-md border-picton-blue-950'>
					<Entry_Params tailparam='h-0' cssparam='width: 0;' />
					<Entry_Params
						tailparam='max-h-0.5'
						cssparam='max-height: 0.125rem; 2px'
					/>
					<Entry_Params
						tailparam='max-h-1'
						cssparam='max-height: 0.25rem; 4px'
					/>
					<Entry_Params
						tailparam='max-h-1.5'
						cssparam='max-height: 0.375rem; 6px'
					/>
					<Entry_Params tailparam='h-2' cssparam='height: 0.5rem; 8px' />
					<Entry_Params
						tailparam='max-h-2.5'
						cssparam='max-height: 0.625rem; 10px'
					/>
					<Entry_Params
						tailparam='max-h-3'
						cssparam='max-height: 0.75rem; 12px'
					/>
					<Entry_Params
						tailparam='max-h-3.5'
						cssparam='max-height: 0.875rem; 14px'
					/>
					<Entry_Params tailparam='max-h-4' cssparam='max-height: 1rem; 16px' />
					<Entry_Params
						tailparam='max-h-5'
						cssparam='max-height: 1.25rem; 20px'
					/>
					<Entry_Params
						tailparam='max-h-6'
						cssparam='max-height: 1.5rem; 24px'
					/>
					<Entry_Params tailparam='max-h-8' cssparam='max-height: 2rem; 32px' />
					<Entry_Params
						tailparam='max-h-10'
						cssparam='max-height: 2.5rem; 40px'
					/>
					<Entry_Params
						tailparam='max-h-11'
						cssparam='max-height: 2.75rem; 44px'
					/>
					<Entry_Params
						tailparam='max-h-12'
						cssparam='max-height: 3rem; 48px'
					/>
					<Entry_Params
						tailparam='max-h-14'
						cssparam='max-height: 3.5rem; 56px'
					/>
					<Entry_Params
						tailparam='max-h-16'
						cssparam='max-height: 4rem; 64px'
					/>
					<Entry_Params tailparam='max-h-20' cssparam='max-height: 5em; 80px' />
					<Entry_Params
						tailparam='max-h-24'
						cssparam='max-height: 6rem; 96px'
					/>
					<Entry_Params
						tailparam='max-h-28'
						cssparam='max-height: 7rem; 112px'
					/>
					<Entry_Params
						tailparam='max-h-32'
						cssparam='max-height: 8rem; 128px'
					/>
					<Entry_Params
						tailparam='max-h-36'
						cssparam='max-height: 9rem; 144px'
					/>
					<Entry_Params
						tailparam='max-h-40'
						cssparam='max-height: 10rem; 160px'
					/>
					<Entry_Params
						tailparam='max-h-44'
						cssparam='max-height: 11rem; 176px'
					/>
					<Entry_Params
						tailparam='max-h-48'
						cssparam='max-height: 12rem; 192px'
					/>
					<Entry_Params
						tailparam='max-h-52'
						cssparam='max-height: 13rem; 208px'
					/>
					<Entry_Params
						tailparam='max-h-56'
						cssparam='max-height: 14rem; 224px'
					/>
					<Entry_Params
						tailparam='max-h-64'
						cssparam='max-height: 16rem; 256px'
					/>
					<Entry_Params
						tailparam='max-h-72'
						cssparam='max-height: 18rem; 288px'
					/>
					<Entry_Params
						tailparam='max-h-80'
						cssparam='max-height: 20rem; 320px'
					/>
					<Entry_Params
						tailparam='max-h-96'
						cssparam='max-height: 24rem; 384px'
					/>
					<Entry_Params tailparam='max-h-px' cssparam='max-height: 1px' />
					<Entry_Params tailparam='max-h-screen' cssparam='max-height: 100vh' />
					<Entry_Params
						tailparam='max-h-min'
						cssparam='max-height: min-conten'
					/>
					<Entry_Params
						tailparam='max-h-max'
						cssparam='max-height: max-conten'
					/>
					<Entry_Params
						tailparam='max-h-fit'
						cssparam='max-height: fit-conten'
					/>
				</section>
			</Accordion>
		</div>
	</section>
</Base>
