---
interface Props {
	tailparam: string;
	tailwindcolor: string;
}

const { tailparam, tailwindcolor } = Astro.props;
---

<article
	id='Entry'
	class='flex items-center justify-between w-full px-20 py-4 text-lg border-b-2 border-picton-blue-950 bg-picton-blue-900 text-picton-blue-100'>
	<div class='block-color'></div>
	<p
		id='entry'
		onclick='coppyToClipboard()'
		class='cursor-pointer hover:text-picton-blue-300'>
		{tailparam}
	</p>
	<p>{tailwindcolor}</p>
</article>

<style define:vars={{ tailwindcolor }}>
	.block-color {
		background: var(--tailwindcolor);
		width: 90px;
		height: 50px;
	}
</style>

<script is:inline>
	function coppyToClipboard() {
		const entry = document.getElementById('entry').innerText;
		navigator.clipboard.writeText(entry);
		console.log(entry);
	}
</script>
