---
// interface Props {
// 	string: string
// }

// const { string } = Astro.props
// Scripts or imports Here
---

<aside
	class='w-full h-[100vh] bg-picton-blue-900 text-picton-blue-100 overflow-y-scroll col-start-1 no-scroll'>
	<article>
		<img
			src='/svg/tailwind-css.svg'
			alt='Tailwind Logo'
			class='p-10 w-96'
		/>

		<nav class='px-16 py-8'>
			<ul class='flex flex-col font-bold gap-y-2'>
				<a href='/'><li>Home</li></a>
				<a href='/Layouts'><li>Layouts</li></a>
				<a href='/Spacing'><li>Spacing</li></a>
				<a href='/FlexboxGrid'><li>Flexbox & Grid</li></a>
				<a href='/Borders'><li>Borders</li></a>
				<a href='/Sizing'><li>Sizing</li></a>
				<a href='/Typography'><li>Typography</li></a>
				<a href='/Backgrounds'><li>Backgrounds</li></a>
				<a href='/TransitionsAnimation'
					><li>Transitions & Animation</li></a
				>
				<a href='/Transforms'><li>Transforms</li></a>
				<a href='/Interactivity'><li>Interactivity</li></a>
				<a href='/SVG'><li>SVG</li></a>
				<a href='/Tables'><li>Tables</li></a>
				<a href='/Effects'><li>Effects</li></a>
				<a href='/Filters'><li>Filters</li></a>
				<a href='/Accessibility'><li>Accessibility</li></a>
			</ul>
		</nav>
	</article>
</aside>
